.badge {
  display: inline;
  background: $badge-background-color;
  color: $badge-font-color;
  line-height: $badge-line-height;
  font-weight: $badge-font-weight;
  font-size: $badge-font-size;
  text-align: center;
  border-radius: $badge-border-radius;
  padding: .2em .6em .3em;
  white-space: nowrap;
  vertical-align: baseline;
}

