.badge {
  display: inline-block;
  background: $badge-background-color;
  color: $badge-font-color;
  font-size: $badge-font-size;
  border-radius: $badge-border-radius;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  padding: .25em 1em;
  text-align: center;
}

