.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;

  background: $button-background-color;
  color: $button-color;
  border-radius: $button-border-radius;
  display: inline-block;
  font: {
    family: $button-font-family;
    size: $button-font-size;
    weight: $button-font-weight;
  }
  line-height: $button-line-height;
  padding: $base-spacing / 2 ($base-spacing * 2) / 3;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: $button-color-hover;
    background: $button-background-color-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
