.error, .warning, .success {
  border-radius: $flash-border-radius;
  margin-bottom: $margin-x-small;
  padding: $base-spacing / 2;
}

@mixin flash($background-color) {
  background: $background-color;
  color: darken($background-color, 65);
  border: 1px solid darken($background-color, 5);
}

.error   { @include flash($flash-error-color); }
.warning { @include flash($flash-warning-color); }
.success { @include flash($flash-success-color); }