form {
  input {
    display: block;
  }

  textarea, input[type="email"], input[type="text"] {
    @include box-sizing(border-box);
    @include transition(border-color);
    font: {
      family: $form-font-family;
      size: $form-font-size;
    }
    background-color: $form-background-color;
    border-radius: $form-border-radius;
    border: 1px solid $form-border-color;
    box-shadow: $form-box-shadow;
    margin-bottom: $margin-x-small;
    padding: $base-spacing / 3;
    width: 100%;

    &:hover {
      border-color: $form-border-color-hover;
    }

    &:focus {
      border-color: $form-border-color-focus;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }
}