@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow.svgx:before {
	content: "\E001";
}

.icon-cancel.svgx:before {
	content: "\E002";
}

.icon-close.svgx:before {
	content: "\E003";
}

.icon-comments.svgx:before {
	content: "\E004";
}

.icon-download.svgx:before {
	content: "\E005";
}

.icon-envelope:before {
	content: "\E006";
}

.icon-error.svgx:before {
	content: "\E007";
}

.icon-facebook:before {
	content: "\E008";
}

.icon-facebook.svgx:before {
	content: "\E009";
}

.icon-github.svgx:before {
	content: "\E00A";
}

.icon-home.svgx:before {
	content: "\E00B";
}

.icon-info.svgx:before {
	content: "\E00C";
}

.icon-linkedin:before {
	content: "\E00D";
}

.icon-linkedin.svgx:before {
	content: "\E00E";
}

.icon-mail.svgx:before {
	content: "\E00F";
}

.icon-menu.svgx:before {
	content: "\E010";
}

.icon-phone:before {
	content: "\E011";
}

.icon-phone.svgx:before {
	content: "\E012";
}

.icon-print.svgx:before {
	content: "\E013";
}

.icon-send.svgx:before {
	content: "\E014";
}

.icon-success.svgx:before {
	content: "\E015";
}

.icon-tools.svgx:before {
	content: "\E016";
}

.icon-twitter.svgx:before {
	content: "\E017";
}

.icon-viadeo.svgx:before {
	content: "\E018";
}

.icon-warning.svgx:before {
	content: "\E019";
}

.icon-zoom.svgx:before {
	content: "\E01A";
}
