footer#footer {
  background: $footer-background-color;
  color: $footer-font-color;
  font-size: .9rem;
  text-align: center;
  padding: 2.5rem 0;

  .wrapper {
    @include wrapper();
  }

  a, label {
    font-weight: $font-weight-normal;
    color: $footer-link-color;
    line-height: 1.3rem;
    text-decoration: underline;
  }

  nav {
    text-align: center;
  }
}