footer#footer {
  background: $footer-background-color;
  color: $footer-font-color;
  font-size: $footer-font-size;
  text-align: center;
  padding: 2 * $base-spacing 0;

  .wrapper {
    @include wrapper();
  }

  a, label {
    font-weight: $footer-font-weight;
    color: $footer-link-color;
    line-height: $footer-line-height;
    border-bottom: 1px solid $footer-link-color;
    cursor: pointer;

    &:hover {
      color: $footer-link-color-hover;
      border-bottom: 1px solid $footer-link-color-hover;
    }
  }

  nav {
    text-align: center;
  }
}