header#navbar {
  .wrapper {
    @include wrapper();
  }

  .navbar-header {
    .nav-toggle {
      line-height: $header-line-height;
      font-size: $header-font-size;
      display: block;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0;
        top: 50%;
        margin-top: -0.5rem;
        right: 0;
        box-shadow: 0 0px 0 1px $header-font-color, 0 7px 0 1px $header-font-color, 0 14px 0 1px $header-font-color;
        width: 22px;
      }
    }
  }

  nav {
    overflow: hidden;
    ul {
      height: 0;
      @include transition(height 0.3s);

      a, label {
        display: block;
        font-weight: $header-link-font-weight;
        line-height: $header-link-line-height;
        padding: $header-link-spacing 0;
        color: $header-link-color;
        cursor: pointer;
      }
    }

    #navbar-menu-chk {
      display: none;
      &:checked + ul {
        height: 5 * ($header-link-line-height + 2 * $header-link-spacing) + ($header-link-line-height / 2);
      }
    }
  }
}