header#navbar {
  .wrapper {
    @include wrapper();
  }

  .navbar-header {
    .nav-toggle {
      line-height: 4rem;
      font-size: 1.8rem;
      display: block;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0;
        top: 50%;
        margin-top: -0.5rem;
        right: 0;
        box-shadow: 0 0px 0 1px $font-color, 0 7px 0 1px $font-color, 0 14px 0 1px $font-color;
        width: 22px;
      }
    }
  }

  nav {
    overflow: hidden;
    ul {
      height: 0;
      @include transition(height 0.3s);

      a, label {
        display: block;
        font-weight: $font-weight-normal;
        line-height: 1.5rem;
        padding: .5rem 0;
        color: $link-color;
      }
    }

    #navbar-menu-chk {
      display: none;
      &:checked + ul {
        height: 5 * (1.5rem + 1rem) + .8rem; /* 5 Elem * (Elem line-height + Elem padding)*/
      }
    }
  }
}