a.button, button.button{
  @include appearance(none);
  -webkit-font-smoothing: antialiased;

  background: $button-background-color;
  color: $button-color;
  border-radius: $base-border-radius;
  display: inline-block;
  font: {
    size: 1rem;
    weight: normal;
  }
  line-height: 1.5rem;
  padding: 0.75em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    color: $hover-button-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
