footer#footer {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  font-size: .8em;
  font-weight: 400;

  .container {
    @include clearfix;
    @include outer-container;
  }

  p {
    color: $footer-disclaimer-color;
    text-align: center;
  }

  nav {
    text-align: center;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0;
      padding: 0 .5em;
    }
    a, label, span {
      font-weight: 400;
      color: $footer-link-color;
      line-height: 1em;
      text-decoration: underline;
    }
  }
}