$navbar-background: #fff;
$navbar-height: 50px;
$navbar-color: #563d7c;
$navbar-color-hover: white;

header#navbar {
  background-color: $navbar-background;

  .container {
    @include clearfix;
    @include outer-container;
    padding: 0 15px;
  }

  .navbar-header {
    a.logo, label.nav-toggle {
      line-height: $navbar-height;
      color: $navbar-color;
    }

    a.logo {
      font-weight: 500;
    }

    label.nav-toggle {
      padding: 9px 10px;
      margin: 8px 0;
      float: right;

      .bar {
        background-color: #563d7c;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
      }
      .bar+.bar {
        margin-top: 4px;
      }
    }
  }

  nav {
    overflow: hidden;
    ul {
      height: 0;
      @include transition(height 0.3s);

      a, label {
        display: block;
        font-weight: 400;
        color: $navbar-color;
        line-height: 1em;
        padding: .5em 0;
      }
    }

    #navbar-menu-chk {
      display: none;
      &:checked + ul {
        height: 5 * (1em + .5em + .5em);
      }
    }
  }
}