.pg-profile {

  header {
    text-align: center;

    img {
      @include border-bottom-radius(50%);
      @include border-left-radius(50%);
      @include border-right-radius(50%);
      height: 140px;
      margin-bottom: .5em;
    }
  }

  & > aside {
    display: none;
  }
}