.pg-blog {
  article {
    margin-bottom: $margin-x-large;

    h4, .author, .summary, .readmore {
      @include wrapper();
    }


    figure, .summary {
      margin-bottom: $margin-medium;
    }

    .readmore {
      // margin-top: ($base-spacing * 2) / 3;  ???
      text-align: right;
    }
  }
}