#js-dialog-contact-chk {
  display: none;

  &:checked + .dlg-contact {
    opacity: 1;
    visibility: visible;
  }
}

.dlg-contact {
  @include transition(opacity .25s ease);
  opacity: 0;
  visibility: hidden;

  .overlay {
    @include position(fixed, 0 0 0 0);
    background: $modal-overlay-background-color;
    z-index: 1000;
  }

  .dialog {
    @include position(fixed, 0 0 auto 0);
    background: $modal-background-color;
    z-index: 1001;
    padding: $modal-padding 0;

    header {
      @include wrapper();
      position: relative;
      margin-bottom: $margin-large;

      h1 {
        font-size: $modal-header-font-size;
        text-transform: uppercase;
        text-align: left;
      }

      .close {
        @include position(absolute, 0 1.2rem null null);
        font-size: 1.6rem;
        line-height: 1.1;
        cursor: pointer;
        background: $modal-background-color;
      }
    }

    .content {
      @include wrapper();
    }

    footer {
      @include wrapper();
      text-align: right;
    }
  }
}