#js-dialog-contact-chk {
  display: none;

  &:checked + .dlg-contact {
    opacity: 1;
    visibility: visible;
  }
}

.dlg-contact {
  @include transition(opacity .25s ease);
  opacity: 0;
  visibility: hidden;

  .overlay {
    @include position(fixed, 0 0 0 0);
    background: $modal-overlay-background-color;
    z-index: 1000;
  }

  .dialog {
    @include position(fixed, 0 0 auto 0);
    background: $modal-background-color;
    z-index: 1001;
    padding: $modal-padding 0;

    header {
      @include wrapper();
      margin-bottom: ($base-spacing * 4) / 3;

      h1 {
        font-size: $modal-header-font-size;
        text-transform: uppercase;
      }

      .close {
        @include position(absolute, $modal-padding $modal-padding null null);
        @include size($modal-close-size);
        cursor: pointer;
        background: $modal-background-color;

        &:after, &:before {
          @include position(absolute, 3px 3px 0 50%);
          @include transform(rotate(45deg));
          @include size(.15rem 1.5rem);
          background: $modal-close-color;
          content: '';
          display: block;
          margin: -3px 0 0 -1px;
        }

        &:before {
          @include transform(rotate(-45deg));
        }
      }
    }

    .content {
      @include wrapper();
    }

    footer {
      @include wrapper();
      text-align: right;
    }
  }
}