#js-dialog-contact-chk {
  display: none;

  &:checked + .dlg-contact {
    opacity: 1;
    visibility: visible;
  }
}

.dlg-contact {
  @include position(fixed, 0 0 0 0);
  @include transition(opacity .25s ease);
  background: $modal-overlay-background-color;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;

  .dialog {
    background: $modal-background-color;
    padding: $modal-padding 0;

    @include media($desktop) {
      max-width: 50rem;
      margin: 0 auto;
      @include border-bottom-radius(2 * $base-border-radius);
    }

    header {
      @include wrapper();
      position: relative;

      h1 {
        font-size: $modal-header-font-size;
        text-transform: uppercase;
        text-align: left;
      }

      .close {
        @include position(absolute, 0 1.2rem null null);
        font-size: 1.6rem;
        line-height: 1.1;
        cursor: pointer;
        background: $modal-background-color;
      }
    }

    .content {
      @include wrapper();
    }

    footer {
      @include wrapper();
      text-align: right;
    }
  }
}