.pg-home {

  .hero {
    img {
      height: 10rem;
    }
  }

  main {
    .about {
      @include wrapper();
      margin-bottom: $margin-x-large;

      .summary {
        margin-bottom: $margin-medium;
      }

      .readmore {
        text-align: right;
      }
    }

    .projects {
      margin-bottom: $margin-x-large;

      article {
        margin-bottom: $margin-large;

        figure {
          margin-bottom: $margin-medium;
        }

        .description {
          @include wrapper();
        }
      }
    }

    .articles {
      margin-bottom: $margin-x-large;

      article {
        margin-bottom: $margin-large;

        h4 {
          @include wrapper();
        }

        figure {
          margin-bottom: $margin-medium;
        }

        p {
          @include wrapper();
        }
      }
    }
  }
}