.pg-home {
  .hero {
    img {
      height: 10rem;
    }
  }
  main {
    .about-and-projects {
      padding-top: $margin-x-large;
      padding-bottom: $margin-x-large;

      @include media($desktop) {
        @include wrapper();
      }

      .about {
        margin-bottom: $margin-x-large;

        @include media($mobile) {
          @include wrapper();
        }

        @include media($desktop) {
          @include span-columns(4);
        }

        .summary {
          margin-bottom: $margin-medium;
        }

        .readmore {
          text-align: right;
        }
      }

      .projects {
        @include media($desktop) {
          @include span-columns(8);
        }

        article {
          figure {
            margin-bottom: $margin-medium;

            @include media($desktop) {
              img {
                border-radius: 2 * $base-border-radius;
              }
            }
          }

          @include media($desktop) {
            @include span-columns(4 of 8);
          }

          @include media($mobile) {
            margin-bottom: $margin-large;

            .description {
              @include wrapper();
            }
          }


        }
      }

    }

    .articles {
      background: darken($base-background-color, 3);

      .wrapper {
        padding-top: $margin-x-large;
        padding-bottom: $margin-x-large;
        @include media($desktop) {
          @include wrapper();
        }
      }



      article {
        margin-bottom: $margin-large;
        @include media($desktop) {
          @include span-columns(4);
          @include omega(4n);
        }

        h3, p {
          @include media($mobile) {
            @include wrapper();
          }
        }

        figure {
          margin-bottom: $margin-medium;

          @include media($desktop) {
            img {
              border-radius: 2 * $base-border-radius;
            }
          }
        }
      }
    }
  }
}