.pg-profile {
  .hero {
    $size: 2rem;

    a.icon {
      display: inline-block;
      overflow: hidden;
      width: $size;
      height: $size;
      color: transparent;
      margin: 0 .2rem;

      &:before {
        display: inline-block;
        background: $hero-text-font-color;
        color: $hero-background-color;
        width: $size;
        height: $size;
        font-size: $size/2;
        line-height: $size;
        border-radius: 50%;
      }
    }
  }

  section {
    @include wrapper();
    margin-bottom: 2 * $base-spacing;

    p {
      margin-bottom: $base-spacing / 6;

      &.description {
        margin-bottom: $base-spacing / 2;
      }
    }
  }

//  #competences {
//    .level-1, .level-2, .level-3 {
//    }
//  }
//
//  #studies { }
}