.pg-projects {
  margin-bottom: $margin-x-large;

  .projects {
    @include media($desktop) {
      @include wrapper();
    }

    article {
      margin-bottom: $margin-x-large;

      @include media($desktop) {
        @include span-columns(6);
        @include omega(2n);
      }

      h4, .description {
        @include wrapper();
      }

      figure {
        margin-bottom: $margin-medium;

        @include media($desktop) {
          img {
            border-radius: 2 * $base-border-radius;
          }
        }
      }
    }
  }
}