.pg-profile {
  .hero {
    a.icon {
      display: inline-block;
      overflow: hidden;
      width: 6rem;
      height: 6rem;
      color: transparent;

      &:before {
        display: inline-block;
        background: $hero-text-font-color;
        color: $hero-background-color;
        width: 6rem;
        height: 6rem;
        font-size: 4rem;
        line-height: 6rem;
        border-radius: 50%;
      }
    }
  }

  section {
    @include wrapper();
    margin-bottom: 2 * $base-spacing;

    p {
      margin-bottom: $pg-profile-text-spacing;

      &.description {
        margin-bottom: $pg-profile-text-spacing * 3;
      }
    }
  }

//  #competences {
//    .level-1, .level-2, .level-3 {
//    }
//  }
//
//  #studies { }
}