.pg-projects {
  article {
    margin-bottom: 2rem;

    figure {
      margin-bottom: 1rem;
    }

    .description {
      @include wrapper();

      h3 {
        margin-bottom: 1rem;
      }
    }
  }

}