@font-face {
	font-family: "icons";
	src: url('../../fonts/icons.eot');
	src: url('../../fonts/icons.eot?#iefix') format('eot'),
		url('../../fonts/icons.woff') format('woff'),
		url('../../fonts/icons.ttf') format('truetype'),
		url('../../fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-close:before {
	content: "\E001";
}

.icon-comment:before {
	content: "\E002";
}

.icon-download:before {
	content: "\E003";
}

.icon-envelope:before {
	content: "\E004";
}

.icon-error:before {
	content: "\E005";
}

.icon-facebook:before {
	content: "\E006";
}

.icon-github:before {
	content: "\E007";
}

.icon-google:before {
	content: "\E008";
}

.icon-linkedin:before {
	content: "\E009";
}

.icon-phone:before {
	content: "\E00A";
}

.icon-success:before {
	content: "\E00B";
}

.icon-time:before {
	content: "\E00C";
}

.icon-twitter:before {
	content: "\E00D";
}

.icon-warning:before {
	content: "\E00E";
}
