@import '_bourbon/bourbon';

@import "_neat/neat-helpers";
//$visual-grid: true;
//$visual-grid-color: red;
//$visual-grid-index: front;
//$visual-grid-opacity: 0.1;
$max-width: 1170px;
$mobile : new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 768px);
@import '_neat/neat';

// Variables
@import 'variables';
@import 'mixins';

// Icons
@import "icons";

// Base
@import 'base/typography';
@import "base/badge";
@import 'base/lists';
@import 'base/form';
@import "base/flashes";
@import "base/buttons";

// Layouts
@import "layouts/navbar";
@import "layouts/footer";
@import "layouts/hero";

// Pages
@import "pages/home";
@import "pages/profile";
@import "pages/projects";
@import "pages/blog";
@import "pages/blog-article";
@import "pages/contact";